<%= form_with model: @entry, local: true do |form| %>
    <div class="diary-container">
      <div class="diary-entries mb-3 d-flex align-items-center">
        <!-- テキスト入力 -->
        <%= form.text_field :content, class: "form-control custom-input text-center", placeholder: "enter", style: "border: none; box-shadow: none;" %>
        <!-- 送信ボタン -->
        <%= form.submit "Submit", class: "btn btn-primary ms-2 submit-btn" %>
      </div>
    </div>
  <% end %>
  

