<h4 class="text-center text-2xl"><%= @user.name %></h4>   

<% if current_user == @user %>
<div class="flex justify-end mb-4">
  <%= link_to "フラッシュカードで学習するβ版", quiz_path, class: "bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2 mr-4" %>
  <%= link_to "scraps", draft_path(current_user), class: "bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2 mr-4" %>
</div>
<% end %>

