
 <div class="text-center mb-2"><%= render 'users/profile' %></div>

  <skip_before_action>

<% if @user.microposts.any? %>
    <div class="col-span-1 col-start-1">
    <% if current_user == @user %>
      <%= render partial: 'microposts/content_navs' %>
    <% end %>
      <%= render partial: 'microposts/micropost' %>
    </div>
    </div>
<% end %>

</div>








