
  <div class="text-center"><%= render 'users/profile' %></div>

  <skip_before_action>

<% if @user.microposts.any? %>
    <div class="col-span-1 col-start-1">
       <%= render partial: 'microposts/content_navs' %>
      <%= render partial: 'microposts/micropost' %>
    </div>
    </div>
<% end %>

</div>








