<!--ã“ã“ã§ã¯ã€@userã‚’æ„è­˜ã™ã‚‹å¿…è¦ã¯ãªã„ã€‚rendered by users/show -->
<div class="diary-container">
  <div class="diary-entries">

<!-- irb(main):001> app.microposts_path(slug: "a")=> "/a/microposts" -->

    <%= form_with(model: @micropost, url: microposts_path(slug: @user.slug), method: :post, local: true, html: { class: "micropost-form" }) do |f| %>
  <!-- å…¥åŠ›ãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ -->
  <div class="field">
    <%= f.text_area :content, 
      placeholder: "âœï¸ðŸ“šâœ¨", 
      class: "form-control diary-textarea",
      style: "border: none; box-shadow: none;" %>
  </div>

  <!-- é€ä¿¡ãƒœã‚¿ãƒ³ -->
  <div class="actions text-center">
    <%= f.submit "Post", class: "btn btn-primary diary-submit-btn" %>
  </div>
<% end %>


  </div>
</div>

