<div class="mt-2 p-4 ml-3 mr-3 rounded border shadow-md hover:shadow-lg transition-shadow duration-300">

<h2 id="-eigopencil-">開発者流eigopencilの使い方3つ</h2>

<div>
  <div class="text-center mt-4">
    <%= image_tag("how_i_use.png", class: "mx-auto max-w-[320px] h-auto rounded-lg") %>
  </div>
</div>

<p>(*未完成の内容です)</p>
<br><br><br>

<h4>使い方1</h4> 
<p>自分のものにしたいフレーズ/単語の原文を記録し、その意味と自作英文を書く。</p>
<div class="bg-gray-100 p-3">
<p>kazuma 2024/12/25<br><br>
原文:<br> "My ridiculous intake of over six cups of coffee daily definitely <strong>pushed me over the edge</strong>, but it was only the catalyst, not the cause."(url:<a href="https://levels.io/reset-your-life/">https://levels.io/reset-your-life/</a>) </p>
<p><strong>pushed me over the edge</strong>:<br> "The phrase &quot;pushed me over the edge&quot; typically means that something caused a person to reach their breaking point emotionally, mentally, or in terms of patience. It suggests that the person was already close to their limit, and the event or action pushed them beyond their capacity to cope or remain composed." </p>
<p>自作英文:<br> "coding 8h straight literally <strong>pushed me over the edge..😅"</strong></p>
</div>

<br>フレーズや単語は、日頃英語のコンテンツ(ブログ、本、YouTubeなど)を消費している時に「この言い回しかっこいい」「よく聞くけどどういう意味なんだろう？」と思ったものをeigopencilの下書きに保存しておきます。
後からその意味を調べ、(pushed me over the edge)記憶に定着させるために自分の言葉に置き換えて投稿します。(自作英文)

<br><br>
原文<br>を一緒に残しておくことで、見返した時に原文と自作英文の両方読むことで学習したことをより思い出せるようになったり、文脈をより深く理解できるからです。
<br><br>

リンクも、後から見返せるように残しておいています。

<h4>使い方2</h4> 
<div class="bg-gray-100 p-3">
<p>i dont think anything is hard. it just takes time.
(url: youtube.com/hogehoge)</p>
</div>
<p> 英文の意味はわかるけど、言い回しを覚えたい時(そのまま書いておきます。)</p>


<h4>使い方3</h4> 
日記
<br><br><br>
<h4>もちろん使い方はあなた次第です。</h4> 
<p>もちろん皆さんのやり方もあると思うので、このやり方は参考程度で構いません。もし、僕のやり方でeigopencilを活用したい場合、投稿のテンプレートから洗濯する事ができます。</p>
<p>僕のテンプレートはここから使う事ができます。
そして、urlを共有することで、英語学習のコンテンツをみんなで共有する事ができます。
もちろん、ユーザーの皆さんの独自のやり方でもできるように、投稿するときはテンプレートを選択する事ができます。</p>

<h4>URLを共有する</h4> 
使い方1,2のように投稿時にURLをつけて投稿すると、他の人がそのコンテンツを見る事ができます。参考書ではなく、実際のインターネットにある情報を共有することで、実際の使われている英語に触れる機会を増やす事ができます。
また、あなたのURLがきっかけで他の人が面白い動画やブログに出会う機会を与え、eigopencilのコミュニティー全体の英語学習を加速させましょう。
eigopencilを使って英語学習をしている皆さん同士でURLコンテンツを

<h4>eigopencilを毎日使うと、、、</h4> 
[image]
<p>あなた専用の英単語/フレーズ集が完成します。これは参考書が真似できない。あなたに必要なオリジナルの英単語/フレーズ集です。こちらは有料会員の方限定で、あなただけの単語/フレーズ帳を閲覧する事ができるようになります。</p>
</div>


</div>