<!--<div class="header d-flex text-center bg-gray flex-column justify-content-center align-items-center vh-100" id="links-section">-->
<div class="text-center mt-3" id="nav-section">
<h1>
   <%= image_tag("logo01.png") %>
   <%= link_to "eigopencil.com", root_path, class: "text-decoration-none text-dark" %>
  <!-- <%= link_to "eigo-toen.online", root_path, class: "text-decoration-none text-dark" %>-->

 </h1>
 <p>言葉にするたび、英語があなたのものになる。</p>
 </div>
<div class="text-left ml-5">

<div class="links">
<br>
<ul>
<li>🏠 home</li>
<li>👤 プロフィール</li>
<li>✍️ zen mode(集中モード)で書く</li>
<li>👀 みんなの英語日記をを見る</li>
<li>📖 サイト管理者の英語ブログ</li>
<li>📱 アプリのように使ってみよう</li>
</ul>
</div>

<div class="about mt-3">
<h5>onedayoneline.comとは??</h5>
<h5>お問い合わせ</h5>
</div>

</div>
