<!--<div class="header d-flex text-center bg-gray flex-column justify-content-center align-items-center vh-100" id="links-section">-->

<div class="text-left ml-5">

<div class="links">
<br>
<ul>
<li>🏠 home</li>
<li>👤 プロフィール</li>
<li>✍️ 書く</li>
<li>👀 みんなの英語日記をを見る</li>
<li>📖 サイト管理者の英語ブログ</li>
<li>📱 アプリのように使ってみよう</li>
</ul>
</div>

<div class="about mt-3">
<h5>onedayoneline.comとは??</h5>
</div>

</div>
