<div class="diary-container">
        <div class="diary-entries">
            <ul id="entriesList" class="list-group">
            <p><%= micropost.content %></p>
            <span><%= micropost.created_at %></span>
            </ul>
        </div>
</div>


