<% @microposts.published.each do |micropost| %>
  <% content_for :title, micropost.content.truncate(50) %>
  <% content_for :meta_description, micropost.content.truncate(150) %>
  <% content_for :twitter_image, asset_url("logo01.png") %>

  <!-- è¡¨ç¤ºéƒ¨åˆ† -->
  <div class="mt-2 p-4 rounded border shadow-md hover:shadow-lg transition-shadow duration-300">

          <!-- ã‚³ãƒ³ãƒ†ãƒ³ãƒ„éƒ¨åˆ† -->
          <p><%= micropost.content %></p>
          <span class="text-muted text-left"><%= micropost.created_at.strftime("%Y-%m-%d") %></span>
          

       <% if current_user == @user %>
        <div class="text-right">
         <!-- å‰Šé™¤ãƒœã‚¿ãƒ³ -->
          <%= button_to "ðŸ—‘ï¸", micropost_path(slug: @user.slug, id: micropost.id), method: :delete, class: "btn btn-sm" %>
          <!-- Xã§ã‚·ã‚§ã‚¢ã™ã‚‹ãƒœã‚¿ãƒ³ -->
          <%= link_to "X",
            "https://twitter.com/intent/tweet?text=#{CGI.escape("âœï¸ " + micropost.content + "\n")}%0A#{CGI.escape('https://eigopencil.com')}",
            target: "_blank",
            rel: "noopener",
            class: "btn btn-dark text-white btn-sm" %>
        </div>
        
      <% end %>
    </div>
 
<% end %>


