<style>
.content {
  white-space: pre-wrap; /* htmlсЂ«сЃЄсЃЋсѓЕсЃФсЃѕсЂДсЂ»сђЂ/nсѓѓbrсѓѓсЂЙсЂесѓЂсѓЅсѓїсЂдсЂёсѓІсЂІсѓЅсђѓ */
}

</style>
<div class="w-full">
  <% @microposts.published.each do |micropost| %>
    <!-- УАеуц║жЃетѕє -->
    <div class="mt-2 p-3 rounded border shadow-md hover:shadow-lg transition-shadow duration-300">

      <!-- сѓ│сЃ│сЃєсЃ│сЃёжЃетѕє -->
      <span class="text-gray-500 text-sm block"><%= micropost.created_at.strftime("%Y-%m-%d") %></span>
      <div class="">
      <%= simple_format(sanitize(micropost.content, tags: %w[b strong i em u br p], attributes: %w[class style])) %>
      </div>
      <% if current_user == @user %>
        <div class="text-right mt-2">
          <!-- тЅіжЎцсЃюсѓ┐сЃ│ -->
          <%= button_to "­ЪЌЉ№ИЈ", micropost_path(slug: @user.slug, id: micropost.id), method: :delete, class: "text-red-500 hover:text-red-700 bg-transparent border-none cursor-pointer" %>
          <!-- XсЂДсѓисѓДсѓбсЂЎсѓІсЃюсѓ┐сЃ│ -->
          <%= link_to "X",
          "https://twitter.com/intent/tweet?text=#{CGI.escape("РюЈ№ИЈ #{micropost.content[0, 100]}... \n\n#eigopencil https://eigopencil.com")}",
            target: "_blank",
            rel: "noopener noreferrer",
            class: "text-white bg-gray-800 hover:bg-gray-700 px-2 py-1 rounded text-sm",
            aria: { label: "Share this post on X" } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
