<% @microposts.published.each do |micropost| %>   
<div class="mt-2 p-4 rounded border shadow-md hover:shadow-lg transition-shadow duration-300">
  <!-- Username and date on the first line -->
  <div class="flex items-center text-left font-bold">
    <span><%= micropost.user.name %></span>
    <span class="text-gray-500 text-sm ml-2"><%= micropost.created_at.strftime("%Y/%m/%d") %></span>
  </div>
  
  <!-- Content on the second line -->
  <div class="text-left mt-2">
    <%= micropost.content %>
  </div>
</div>
<% end %>


