<div class="max-w-6xl mx-auto px-4 py-8">
  <p class="mb-2 text-lg">📘 「英語を学習したいけど、いいコンテンツが見つからない？」</p>
  <p class="mb-6 text-lg">📘 「みんながどんなコンテンツで英語に触れているのか知りたい！」、、、そんな時に手助けになる</p>
  <h1 class="text-3xl font-bold text-blue-600 mb-4">みんなのクリップ集！</h1>
  <!--https://github.com/luizpicolo/youtube_rails?tab=readme-ov-file-->

  <div class="flex items-center mb-4 text-sm text-gray-600">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 text-blue-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
  </svg>
  に登録されたリンクがここに公開されます。(全て匿名にしているので安心して下さい。)
  </div>

  <p class="text-sm text-gray-500 mb-6">リンクの埋め込みは現在 YouTube のみ対応しています。それ以外のコンテンツは直リンクで表示されます。</p>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% @microposts.each do |micropost| %>
      <% if micropost.reference_link.present? %>
        <div class="text-sm border-b pb-4">

         <!--リンクが動画の途中から表示されていたら、うまく表示されないから時間のparamsをカットして表示-->
         <% if micropost.reference_link.include?("&t=") %>
         <!--https://docs.ruby-lang.org/ja/latest/method/String/i/sub.html-->
         <% clean_url = micropost.reference_link.sub(/&t=.*/, '') %>
         <%= clean_url %>
         <% end %>

         <!--watchがあるとframeが表示されないから、embedで表示。-->
         <% if micropost.reference_link.start_with?("https://www.youtube.com") %>   
            <% embed_url = micropost.reference_link.gsub("watch?v=", "embed/") %>
            <iframe class="w-full" height="200" src="<%= embed_url %>" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen></iframe>
          <% else %>
            <div class="text-blue-600 mb-2">
              🔗 <a href="<%= micropost.reference_link %>" target="_blank" class="underline hover:text-blue-800">
                <%= micropost.reference_link %>
              </a>
            </div>
          <% end %>


        </div>
      <% end %>
    <% end %>
  </div>
</div>