<div class="col-md-12 mt-3">
<div class="diary-container">
  <div class="diary-entries">

<!-- irb(main):001> app.microposts_path(slug: "a")=> "/a/microposts" -->
<!--routerでpostを"post 'zen/microposts', to: 'microposts#zen_create'"と設定したからurlそう書く。-->
<%= form_with(model: @micropost, url: "/#{@user.slug}/zen/microposts", method: :post, local: true, html: { class: "micropost-form" }) do |f| %>
  <!-- 入力フィールド -->
  <div class="field">
    <%= f.text_area :content, 
      placeholder: "i have pen, i have a apple", 
      class: "form-control diary-textarea",
      style: "border: none; box-shadow: none;" %>
  </div>

  <!-- 送信ボタン -->
  <div class="actions text-right">
    <%= f.submit "post", class: "btn btn-light diary-submit-btn" %>
  </div>
<% end %>

  </div>
</div>




</div>