<div class="col-md-12 mt-3">
<div class="diary-container">
  <div class="diary-entries">



<%= form_with(model: @micropost, url: "/#{current_user.name}/zen/microposts", method: :post, local: true, html: { class: "micropost-form" }) do |f| %>
  <!-- 入力フィールド -->
  <div class="field">
    <%= f.text_area :content, 
      placeholder: "I have pen, I have an apple Uh! Apple-pen", 
      class: "form-control diary-textarea",
      style: "border: none; box-shadow: none;" %>
  </div>

  <!-- 送信ボタン -->
  <div class="actions text-right">
    <%= f.submit "post", class: "btn btn-light diary-submit-btn" %>
  </div>
<% end %>

  </div>
</div>




</div>