<div class="floating-circle-buttom bg-gray-100 fixed bottom-5 sm:bottom-12 hidden sm:block text-center">
  <%= link_to "?", current_user ? root_path : login_path, class: "font-bold text-gray-600 no-underline", data: { turbo: false } %>
</div>



<script>


</script>