<h1>onedayoneline.com</h1>
    <p>一日ワンセンテンスだけ投稿して英語力を上げよう！</p>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <div class="d-flex gap-3">
    <a href="/" class="text-decoration-none">Home</a>
    <a href="https://kazfluent.com/" class="text-decoration-none">ブログ</a>
    <a href="/" class="text-decoration-none">みんなの投稿</a>
    <a href="/about" class="text-decoration-none">はじめての方はこちら</a>
    <a href="/about" class="text-decoration-none">アプリ</a>
  </div>
</div>
</nav>
<br>